body {
  margin: 0;
  min-height: 100vh;
  display: flex;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  display: flex;
}

.tiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .video-container {
    border: 30px solid white;
    width: 50%;
    position: relative;
  }

  .video {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;

    align-items: center;
    transform-origin: left top;

    & > video {
      width: 100%;
      height: 100%;
    }
  }
}

// styles for block of control elements in overlay
@mixin overlay-block() {
  background: rgba(143, 143, 143, 0.3);
  border: 1px solid #DADADA;
  border-radius: 8px;
}

.overlay {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;

  &.hidden {
    display: none;
  }

  .all-cameras-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    background-color: #DADADA;

    font-size: 14px;
    padding: 5px 10px;

    border-radius: 5px;
    outline: none;
  }

  .field-set {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;

    @include overlay-block();

    & > label {
      display: inline-block;
    }
  }

  .volume-level {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;

    @include overlay-block();

    .bar {
      width: 50vw;
      height: 15px;
      transition: all linear 100ms;
      transform-origin: left bottom;
    }
  }
}
